<div class="card shadow" style="width:115%">
  <div class="card-header maroon-header" >
    Disk Quotas and Groups
  </div>
  <div class="card-body table-responsive p-0" >
    <table id="quota_table" class="table" >
      <thead>
        <tr>
          <th>Disk</th>
          <th style={"width:100%"}>Disk Usage</th>
          <th>Limit</th>
          <th>File Usage</th>
          <th>Limit</th>
          <th></th>
        </tr>
      </thead>

    </table>
  </div>
  <!-- /.card-body -->
  <!-- ./card-footer -->
</div>
<!-- /.card -->

<!-- Quota Request Model Forms -->
<div class="modal fade" id="requestQuotaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
        <img class='align-image'src="<%= url("/images/HPRC-Identity-ExternalLeft-Dark.svg") %>" 
      class="d-inline-block align-top " alt="" target="_blank" style= " background-color: #500000;
        width: 40% ">
        <h5 class="modal-title w-100 font-weight-bold">Quota Increase Request</h5>
        <button type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      
      
      <div class="modal-body mx-3">
        <form class="form" id="modalQuotaRequestForm">
          <div class="md-form mb-2" style="color: maroon;">
            <p><bold>Only Owners of the individual disk space can request the quota increase</bold></p>
            <p>Quota requests are subject to review and approval by HPRC admins. Please provide a strong and detailed justification for this request.</p>
            <p>Only a PI can request quota increases that exceed 10 TB or last more than six months. These requests need approval from the HPRC Director.</p>
          </div>
          
          <div class="md-form mb-2">
	        <p> Is this request more than 10TB or for longer than 6 months? </p>
            <input type="radio" name="length" id="yes6" value="yes" onclick=checkLength(value)>Yes  
            <input type="radio" name="length" id="no6" value="no" onclick=checkLength(value)>No  
          </div>
          
          <div class="md-form mb-2" style="color: maroon;">
            <div id="need-PI-request" style="display:none">
                <!--<p> Quota increases greater than 10 TB or 6 months must be requested by a PI to be approved by the Director of HPRC. -->
                <!--    If you are not a PI, please have your PI contact us to provide justification. </p>-->
            
                <p> Are you a PI for this request? </p>
                <input type="radio" name="confirmPi" id="yesPI" value="yes" onclick=checkPi(value)>Yes  
                <input type="radio" name="confirmPi" id="noPI" value="no" onclick=checkPi(value)>No
            </div>
            
          </div>
          
          <div id="Pi-notice" style="display:none;">
              <div class="md-form mb-2">
                <p>Please have your PI request the quota increase!</p>
              </div>
          </div>
          
          <div class="md-form mb-2" style="color: maroon;">
            <div id="buyin-option" style="display:none">
                <p>HPRC offers a Buy-In option for storage:<br>
                Are you interested in buying in ($130/TB for 5 years, $26/TB for one year) </p>
                <input type="radio" name="confirmBuyin" id="yesBuy" value="yes" onclick=checkBuyin(value)>Yes
                <input type="radio" name="confirmBuyin" id="noBuy" value="no" onclick=checkBuyin(value)>No
            </div>
          </div>
          
          
          <div id="extra-form-fields" style="display:none;">
            <div class="md-form mb-2">
                <label data-error="wrong" data-success="right" for="request_until">Until when do you need the increased storage?</label>
                <input type="text" name="request_until" class="md-textarea form-control" id="datepicker">
            </div>
            
            <div class="md-form mb-2">
                <label data-error="wrong" data-success="right" for="student_netid">If this request is for a student, provide netid of the student or group name:</label>
                <i class="fas fa-pencil prefix grey-text"></i>
                <textarea type="text" name="student_netid" class="md-textarea form-control"
                rows="1"></textarea>
            </div>
          </div>
          

          <div id="current-status-fields" style="display: none;">
          <div class="md-form mb-2" style="display: none;">
            <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>"
              readonly>
          </div>

          <!-- Hidden input fields for current used file count and disk quota -->
          <div style="display: none;">
            <input type="hidden" id="current_used_file" name="current_used_file">
            <input type="hidden" id="current_used_disk_quota" name="current_used_disk_quota">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_quota">Current Scratch Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_quota" readonly class="form-control" id="current_quota">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="desired_disk">New Scratch Quota</label>
            <i class="fas fa-user prefix grey-text"></i>
            <div class="input-group">
              <input type="number" step="any" name='desired_disk' class="form-control validate" id="desired_disk">
              <div class="input-group-append">
                <span class="input-group-text"> TB </span>
              </div>
            </div>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="current_file_limit">Current File Limit</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name="current_file_limit" readonly class="form-control" id="current_file_limit">
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="total_file_limit">New File Limit</label>
            <i class="fas fa-envelope prefix grey-text"></i>
            <input type="number" step="any" name="total_file_limit" class="form-control validate" id="total_file_limit">
          </div>
          </div>

          
          <div id="body-form-fields" style="display:none;">
          <div class="md-form mb-2">
          
            <label data-error="wrong" data-success="right" for="request_justification1">Is the PI aware of this request?</label>
            <textarea type="text" name="request_justification1" class="md-textarea form-control" id="justification-field"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification2">What data is stored with the requested quota?</label>
            <textarea type="text" name="request_justification2" class="md-textarea form-control" id="justification-field"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification3">What job requires this quota increase?</label>
            <textarea type="text" name="request_justification3" class="md-textarea form-control" id="justification-field"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification4">What is the input/output size of the job?</label>
            <textarea type="text" name="request_justification4" class="md-textarea form-control" id="justification-field"
            rows="4" required></textarea>
            <label data-error="wrong" data-success="right" for="request_justification5">What is your long-term plan for this data after the quota increase expires?</label>
            <textarea type="text" name="request_justification5" class="md-textarea form-control" id="justification-field"
            rows="4" required></textarea>
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" for="comment">Comment (Optional)</label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="comment" class="md-textarea form-control" rows="4"></textarea>
          </div>
          </div>
          
          <div id="submit-field" style="display:none;">
            <div class="md-form mb-2">
                <input type="checkbox" name="terms" required> I verify that I will remove any unnecessary data and compress
                files/folders to save shared resources.</input>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary request-maroon-button" onclick="logFile()">Submit Request</button>
            </div>
            <div style="color: maroon;" class="text-center">
                Either Disk Quota or File Limit must be filled.
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Group Request Model Forms -->
<div class="modal fade" id="requestGroupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
  
        <h5 class="modal-title w-100 font-weight-bold">Group Request</h5>
        <button type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
         
      <div class="modal-body mx-3">
        <form class="form" id="modalGroupRequestForm">

          <div class="md-form mb-2">
            <label>Group Name</label>
            <i class="fas fa-user prefix grey-text"></i>
            <input type="text" name='group_name' class="form-control validate" required >
          </div>

          <div class="md-form mb-2">
          <label data-error="wrong" data-success="right" for="cluster_name">Cluster Name</label>
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" name='cluster_name' class="form-control validate" value="<%= settings.cluster_name %>" readonly>
          </div>

          <div class="md-form mb-2">
	        <p> Type of Group(Required) </p>
            <input type="radio" name="new_group"  value="yes" onclick=checkGroup(value) >New Group
            &nbsp &nbsp &nbsp
            <input type="radio" name="new_group"  value="no" onclick=checkGroup(value)>Existing Group 

          </div>

          <div class="md-form mb-2" style="color: maroon;">
            <div id="group-dir" style="display:none">
                <input type="checkbox" name="groupdir" id="groupdir" value="yes" >Create Group Directory <br>
                <br>
                <input type="text" name='dir_name' class="form-control validate" placeholder="Group Directory Name" >
            </div>
            
          </div>

          <div class="md-form mb-2">
            <label data-error="wrong" data-success="right" >NetId of members to add </label>
            <i class="fas fa-pencil prefix grey-text"></i>
            <textarea type="text" name="members_to_add" class="md-textarea form-control" 
            rows="4"></textarea>
          </div>

          <div class="md-form mb-2">
          <label data-error="wrong" data-success="right">NetId of members to remove </label>
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" name="members_to_remove" class="md-textarea form-control" 
          rows="4"></textarea>
          </div>

          <input type="checkbox" name="delgroup" id="delgroup" data-toggle="modal"  
            >Delete this group <br><br>

          <div class="md-form mb-2">
          <label data-error="wrong" data-success="right" >Comments</label>
          <i class="fas fa-pencil prefix grey-text"></i>
          <textarea type="text" name="comments" class="md-textarea form-control" 
          rows="4"></textarea>
          </div>
          
          <div id="submit-field">
            <div class="modal-footer d-flex justify-content-center">
                <button type="submit" class="btn btn-primary request-maroon-button" data-toggle="modal"
                  >Submit Request</button>
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>

</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-light text-center">
        <h5 class="modal-title w-100 font-weight-bold">Group Deletion Confirmation</h5>
        <button type="button" data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#requestGroupModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body mx-3">
        <form class="form" id="confirmdeleteform">

          <div class="md-form mb-2">
            <label>Are you sure you want to delete the group?</label>
          </div>
          
          <div id="submit-field">
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-primary request-maroon-button" value="no" name='delete' id='delete'data-toggle="modal" data-dismiss="modal" data-target="#requestGroupModal" onclick=approveDel()>Yes! I understand</button>
            </div>
          </div>
          
          
        </form>
      </div>
    </div>
  </div>

</div>